//packages.aliyun.com/670a3f7bf5181c46cff6935a/npm/npm-registry/:_authToken=2eee5d41-00e1-4f3d-8c94-60143382df0b
//npm.fontawesome.com/:_authToken=ECB95473-FBAF-463F-905C-C9ED4C00D519

auto-install-peers = true
node-linker=hoisted
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/

@slobber:registry=https://packages.aliyun.com/670a3f7bf5181c46cff6935a/npm/npm-registry/