.imageWrapper {
  position: relative;
  margin-top: var(--mantine-spacing-xs);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-xs);
}
.removeButton {
  position: absolute !important;
  top: var(--mantine-spacing-xs);
  right: var(--mantine-spacing-xs);
  z-index: 1;
}
