.header {
  height: rem(50px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-gray-7)
  );
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  flex-wrap: nowrap;
  column-gap: var(--mantine-spacing-md);
}
.leftSection {
  display: flex;
  align-items: center;
  width: calc(220px - var(--mantine-spacing-md));
  overflow: hidden;
  column-gap: var(--mantine-spacing-xs);
  h2 {
    margin: 0;
    font-size: var(--mantine-font-size-md);
  }
}
.middleSection {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
