.secondarySidebar {
  width: 260px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: calc(-1 * var(--mantine-spacing-md)) var(--mantine-spacing-md)
    calc(-1 * var(--mantine-spacing-md)) calc(-1 * var(--mantine-spacing-md));
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
  background: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-5)
  );
}
