.closeIcon {
  padding: rem(2px) rem(2px) 0;
  border-radius: var(--mantine-radius-sm);
  &:hover {
    background-color: #2e2e2e40;
  }
}
.root {
  & [data-position=right] {
    margin-left: 4px;
  }
  .closeIcon {
    visibility: hidden;

  }
  .closeIconActive {
    visibility: visible;
  }
  &:hover {
    .closeIcon {
      visibility: visible;
    }
  }
}
